footer {
    display: flex;
    gap: 32px;
    flex-direction: column;
    font-size: 12px;
    width: clamp(0px, 95vw, 680px);
    margin: auto;
    padding: 32px 0px;
    text-align: center;
    color: var(--color);
    z-index: 2;
    position: relative;
}