:root {
  --color: #01a252;
}

@font-face {
  font-family: public-pixel;
  src: url("./fonts/public-pixel.woff");
}
@font-face {
  font-family: chill;
  src: url("./fonts/chill.woff");
}
@font-face {
  font-family: jetbrains-mono;
  src: url("./fonts/JetBrainsMono-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #0C0C0C;
  font-family: "jetbrains-mono", monospace;
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
}

canvas.skillGraph {
  width: 100%;
  height: 100vh;
  outline: none;
}

h1 {
  display: inline-block;
  color: #0C0C0C;
  background-color: var(--color);
  font-family: "public-pixel", monospace;
  font-size: 2em;
  padding: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
}

h2 {
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  color: #0C0C0C;
  background-color: var(--color);
  font-family: "public-pixel", monospace;
  padding: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
  margin: auto;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 1.2em;
  text-align: center;
  color: var(--color);
  font-family: "public-pixel", monospace;
  padding-top: 4px;
  padding-bottom: 8px;
  margin: auto;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

hr {
  width: 100px;
  height: 2px;
  background-color: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  border-bottom: dashed 2px var(--color);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  transition: all 0.3s;
}

a:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 0px #0C0C0C, 4px 4px 0px rgba(19, 161, 14, 0.25);
}

a:active {
  transform: scale(1);
  box-shadow: 1px 1px 0px #0C0C0C, 3px 3px 0px rgba(82, 82, 82, 0.4);
}

main {
  color: var(--color);
  margin-top: 100vh;
  text-align: center;
  position: relative;
  z-index: 2;
}

section {
  padding-bottom: 64px;
  margin-bottom: 80px;
  position: relative;
}

section::after {
  content: "";
  border-bottom: dashed 2px var(--color);
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  width: clamp(0px, 95vw, 680px);
}

section:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
